{% extends 'base.html' %}

{% block titulo %}
    About
{% endblock %}

{% block contenido %}
<h2>Sobre Nosotros</h2>
<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Video</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Santiago Mestralet</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Santiago Lencinas</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Sebastian Moreyra</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent" style="background-color: white;">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Tengo 22 años y estoy estudiando Ciencia de Datos en la UBA. Descubrí el curso de python buscando en las redes algún lugar recomendable para empezar a programar</div>
      </div>
    </div>
  </div>
{% endblock %}