<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <title>
    {% block titulo %}
        Document
    {% endblock %}
    </title>
</head>
<body class="d-flex flex-column min-vh-100" >



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Triple S</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/libros/libros">Libros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/libros/locales">Locales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/libros/editoriales">Editoriales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/libros/about">About</a>
            </li>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Crear
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/libros/crear-libros/">Libros</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/libros/crear-editoriales/">Editoriales</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/libros/crear-locales/">Locales</a>
              </div>
            </li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li class="nav-item" style="margin-left: 50rem">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
            {% else %}
            <li class="nav-item"  style="margin-left: 50rem">
              <a class="nav-link" href="/login/">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="/perfil/">{{user.username}}</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action ='/libros/buscar-libros/' method="GET">
            <input class="form-control mr-sm-2" type="text" placeholder="Nombre del Libro" aria-label="Search" name="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
  {% block contenido %}
  {% endblock %}



    <footer  class="bg-dark mt-auto">
    <div class="container p-4 margin-bottom">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Footer content</h5>
          <p style="color: #aaaaaa;">
            Somos un grupo de amantes de los libros que se propuso arrancar una cadena de librerías, para ver qué tan lejos llegamos.
            ¡Esperamos que encuentres los libros que más te gusten!
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3" style="letter-spacing: 2px; color: #818963;">Links</h5>
          <ul class="list-unstyled mb-0">
            <li class="mb-1">
              <a href="#!" style="color: #aaaaaa;">Frequently Asked Questions</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #aaaaaa;">Delivery</a>
            </li>
            <li class="mb-1">
              <a href="#!" style="color: #aaaaaa;">Pricing</a>
            </li>
            <li>
              <a href="#!" style="color: #aaaaaa;">Where we deliver?</a>
            </li>
          </ul>
        </div>
        
      </div>
    <div class="text-center p-3" style="color: #919191 ; background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a style="color: #d6d6d6;" href="">La Triple S</a>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</html>