{% extends 'base.html' %}

{% block titulo %}
    Detalle del libro
{% endblock %}

{% block contenido %}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem;">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{libro.name}}</h5>
            <p class="card-text">{{libro.autor}}</p>
            <p class="card-text">{{libro.categoria}}</p>
            <p class="card-text">{{libro.precio}}</p>
            <p class="card-text">{{libro.fecha}}</p>
            <p class="card-text">{{libro.editorial}}</p>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <a href="/libros/editar-libro/{{libro.id}}" class="btn btn-primary">Editar</a>
            <a href="/libros/eliminar-libro/{{libro.id}}" class="btn btn-danger">Eliminar</a>
            {% elif request.user.is_authenticated %}
            <a href="#" class="btn btn-primary">Comprar!</a>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}